# Visual Studio
.vs/
[Oo]bj/
[Bb]in/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Tooling
_ReSharper*/
*.peruser
*.resharper
*.DotSettings.user

# Dotnet CLI
*.project.json
project.lock.json
artifacts/

# Web
wwwroot/lib/
node_modules/
package-lock.json
yarn.lock
